<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <link href="/display.css" rel="stylesheet">
</head>
<body>
<p>
    <span th:text="${message}"></span>
</p>
<div th:object="${Report}">
    <table>
        <thead>
        <tr>
            <th th:each="header : ${tableHeader}">
                <th:block th:text="${header}"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${tableContent}">
            <td th:each="item : ${row}">
                <th:block th:text="${item}"/>
            </td>
        </tr>
        </tbody>
    </table>

    <p>
        <a href="/">Main Menu</a>
    </p>
</div>
</body>
</html>